.capacity-bar {
  width: 100%;
  height: 8px;
  border-radius: 11px;
  background: var(--ironhide-t1);
  overflow: hidden;
  display: flex;


  .usage {
    height: 100%;
    transition: width 0.5s;
  }
}
