.pagination-footer {
  flex: 1;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  user-select: none;

  .MuiIconButton-root {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .pagination-wrapper {
    height: 40px;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;

    .pagination {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        height: 10px;
        width: 10px;
        cursor: pointer;

        path {
          fill: var(--main-color);
        }
      }

      .pagination-control-wrapper {
        height: 100%;
        display: flex;

        .pagination-arrow {
          &[disabled] {
            path {
              fill: var(--ironhide-key);
            }
          }
        }
      }

      .page-number-wrapper {
        margin: 0 4px;
        display: flex;
        gap: 4px;
        align-items: center;

        .text-box-field {
          height: 24px;

          .field__input {
            height: 24px;
            font-size: 12px;
            padding-left: 6px;
            padding-right: 6px;
            font-family: var(--body-font);
          }
        }

        .note {
          white-space: nowrap;
        }
      }
    }
  }
}
