.filter-table-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.no-title{
     justify-content: center;
    svg {
      margin-right: 0;
    }
  }

  svg {
    height: 16px;
    width: 16px;
    margin-left: 4px;
    cursor: pointer;
    path {
      fill: var(--ironhide-s2);
    }
  }
}
