{
  "extends": ["@weka/eslint-config"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["**/icons/**/*.tsx"],
      "rules": {
        "max-len": "off"
      }
    }
  ]
}
