.capacity-cell {
  width: 90%;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-headline {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    width: 100%;
    justify-content: space-between;

    .thin-provision {
      border-radius: 50%;
      font-size: 11px;
      padding: 4px;
      color: var(--neutral-t4);
      font-weight: bold;
      font-family: var(--bold-font);
      background-color: var(--accent-key);
      margin-left: 4px;
      cursor: default;
      height: 14px;
      min-width: 14px;
      position: relative;
      &::after {
        content: 'TP';
        position: absolute;
        top: 4px;
        right: 4px;
      }

    }

  }

  &-data {
    .capacity-bar {
      .usage {
        background-color: var(--accent-key);
      }
    }
  }
}
