.text-editor-tags-input {
  &.tagsbox-wrapper {
    height: 48px;
    z-index: 1;

    .react-tagsbox {
      &__control--is-focused .react-tagsbox__value-container {
        max-height: 196px !important;
      }

      &__value-container,
      &__single_value {
        max-height: 31px !important;
      }
    }
  }

  .tags-user-input-preview {
    word-wrap: break-word;
  }
}
