.Toastify__toast {
  width: fit-content;
  min-width: 320px;
  position: relative;

  a {
    color: var(--accent-key)
  }
}

.Toastify__toast--success {
  background: var(--complement-t5) !important;
  border: 2px solid var(--complement-t2);

  svg {
    height: 24px;
    width: 24px;
    flex-shrink: 0;

    path {
      fill: var(--complement-t2);
    }
  }

  .Toastify__progress-bar {
    background: var(--complement-t2) 0% 0% no-repeat padding-box;
  }

}

.Toastify__toast--error {
  background: var(--focus-t4) !important;
  border: 2px solid var(--focus-s1);

  svg {
    height: 24px;
    width: 24px;
    flex-shrink: 0;

    path {
      fill: var(--focus-s1);
    }
  }

  .Toastify__progress-bar {
    background: var(--focus-s1) 0% 0% no-repeat padding-box;
  }

}

.toast-wrapper {
  display: flex;
  height: 100%;
  word-break: break-word;
  align-items: center;

  .label-1 {
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--toast-text);
    max-width: 210px;
  }


  .copy-btn-div {
    width: 20px;
  }

  .toast-copy {
    margin-left: 4px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 2px;
    right: 27px;

    &:hover {
      background-color: #0000000a;
    }

    svg {
      height: 16px;
      width: 16px;

      path {
        fill: var(--toast-text);
      }
    }

  }
}
