.pagination-footer {
    flex: 1;
    align-items: flex-end;
    display: flex;
    justify-content: center;

  .MuiIconButton-root {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }


    .pagination-wrapper {
      height: 40px;
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;

      .pagination {
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-between;

        svg {
          height: 10px;
          width: 10px;
          cursor: pointer;

          path {
            fill: var(--main-color);
          }

        }

        .pagination-arrow {
          &[disabled] {
            path {
              fill: var(--ironhide-key);
            }
          }
        }
      }
    }
  }
