@mixin text-viewer-font-style {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro',
    source-code-pro, monospace;
  line-height: normal;
}

.text-viewer-light {
  flex: 1;
  display: flex;
  overflow: hidden;
  background: var(--ironhide-t3);

  .text-viewer-cell {
    @include text-viewer-font-style();
  }

  .text-viewer-gutter {
    @include text-viewer-font-style();

    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    background: var(--ironhide-t3);    

    &.scrolled-x {
      box-shadow: 17px 0 16px -16px rgba(0, 0, 0, 0.4);
    }
  }

  .text-viewer-gutter-item {
    color: var(--ironhide-key);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
  }
}

.text-viewer-light-character-size {
  @include text-viewer-font-style();
  position: fixed;
  top: -100%;
}
