.filter-table-wrapper {
  display: flex;
  align-items: center;

  &-icon {
    display: flex;

    svg {
      height: 16px;
      width: 16px;
      margin-left: 4px;
      cursor: pointer;

      path {
        fill: var(--ironhide-s2);
      }
    }
  }

  &-data {
    padding: var(--spread2);
    border: 1px solid var(--main-color);
    border-radius: 8px;
  }
  &-btn {
    display: flex;
    justify-content: center;
  }

  &-inside-filter {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--ironhide-t1);
    margin-bottom: 12px;
    max-height: 310px;
    overflow: auto;
  }
}
