:root {
  --halfspread: 4px;
  --spread: 8px;
  --spread2: 16px;
  --spread3: 24px;
  --input-width: 300px;
}

body {
  --main-color: var(--prime-key);
  --main-light-color: var(--prime-t1);
  --main-dark-color: var(--prime-s1);
  --main-light2-color: var(--prime-t2);
  --main-light3-color: var(--prime-t3);

  --submit-btn-hover: var(--prime-s1);
  --cancel-btn-hover: var(--prime-t3);
  --active-tab-bg: var(--prime-t4);
}

body, .login-wrapper * {
  --prime-s1: #5307AB;
  --prime-key: #773DBE;
  --prime-t1: #A14AFF;
  --prime-t2: #D1A7FF;
  --prime-t3: #EDE0FC;
  --prime-t4: #EDE0FC;
  --optimus-s2: #E39017;
  --optimus-s1: #EFC68B;
  --optimus-key: #EED787;
  --optimus-t2: #F8F0D1;
  --optimus-t3: #FCF7F4;
  --optimus-t4: #FFFAE8;
  --neutral-s4: #000000;
  --neutral-s3: #000000D9;
  --neutral-s2: #000000BF;
  --neutral-t1: #0000001A;
  --neutral-t3: #FFFFFF;
  --neutral-t4: #FFFFFF;
  --ironhide-s5: #2B2B2B;
  --ironhide-s4: #3D3D3D;
  --ironhide-s3: #595959;
  --ironhide-s2: #8C8C8C;
  --ironhide-s1: #ABABAB;
  --ironhide-key: #D2D2D2;
  --ironhide-t1: #E3E3E3;
  --ironhide-t2: #EBEBEB;
  --ironhide-t3: #F5F5F5;
  --ironhide-t4: #F9F9F9;
  --accent-s3: #345A86;
  --accent-s2: #026AE0;
  --accent-s1: #2196F3;
  --accent-key: #45AFFF;
  --accent-t3: #CAE2F5;
  --accent-t4: #E5F3FF;
  --accent-t5: #F4FAFF;
  --focus-s1: #CC3434;
  --focus-key: #F73F3F;
  --focus-t1: #FF7B7B;
  --focus-t4: #FFE5E5;
  --complement-key: #3AA54A;
  --complement-t1: #66BB6A;
  --complement-t2: #7DD681;
  --complement-t4: #D3F2D5;
  --complement-t5: #EFFFF0;
  --signal-1: #95DE64;
  --signal-2: #FF5DD3;
  --guide: #F73F3F;
  --white-opacity-3: rgba(255, 255, 255, 0.3);
  --white-opacity-4: rgba(255, 255, 255, 0.4);
  --white-opacity-7: rgba(255, 255, 255, 0.7);
  --dashboard-metadata: #42ADD0;
  --dashboard-write: #EB00C0;
  --input-background: #FFFFFF;
  --text-color: #000000;
  --toast-text: #3D3D3D;
  --multivalue-background: #E6E6E6;
  --table-background: #F5F5F5;
  --icon-button-hover: #E6E6E6;
  --white: #FFFFFF;
  --server-backgound: #f9f9f9;
  --shadow: #D2D2D2;

  --hitachi-acce1: #414141;
  --hitachi-acce2: #2064B4;
  --hitachi-acce3: #477DBD;
  --hitachi-acce4: #CC0000;
  --hitachi-atmo3: #E8E8E8;
  --hitachi-atmo4: #E8E8E8;


}

body.dark-mode {
  --prime-s1: #6E16D4;
  --prime-key: #A14AFF;
  --prime-t1: #A14AFF;
  --prime-t2: #D1A7FF;
  --prime-t3: #5307AB;
  --prime-t4: #3D3D3D;
  --optimus-s2: #E39017;
  --optimus-s1: #EFC68B;
  --optimus-key: #EED787;
  --optimus-t2: #F8F0D1;
  --optimus-t3: #FCF7F4;
  --optimus-t4: #FFFAE8;
  --neutral-s4: #000000;
  --neutral-s3: #000000D9;
  --neutral-s2: #000000BF;
  --neutral-t1: #0000001A;
  --neutral-t3: #2B2B2B;
  --neutral-t4: #2B2B2B;
  --ironhide-s5: #FFFFFF;
  --ironhide-s4: #FFFFFF;
  --ironhide-s3: #FFFFFF;
  --ironhide-s2: #ABABAB;
  --ironhide-s1: #ABABAB;
  --ironhide-key: #595959;
  --ironhide-t1: #595959;
  --ironhide-t2: #3D3D3D;
  --ironhide-t3: #3D3D3D;
  --ironhide-t4: #3D3D3D;
  --accent-s3: #2196F3;
  --accent-s2: #026AE0;
  --accent-s1: #2196F3;
  --accent-key: #45AFFF;
  --accent-t3: #345A86;
  --accent-t4: #444444;
  --accent-t5: #F4FAFF;
  --focus-s1: #FF7B7B;
  --focus-key: #F73F3F;
  --focus-t1: #FF7B7B;
  --focus-t4: #FFE5E5;
  --complement-key: #3AA54A;
  --complement-t1: #66BB6A;
  --complement-t2: #3AA54A;
  --complement-t4: #D3F2D5;
  --complement-t5: #EFFFF0;
  --signal-1: #95DE64;
  --signal-2: #FF5DD3;
  --guide: #F73F3F;
  --white-opacity-3: rgba(255, 255, 255, 0.3);
  --white-opacity-4: rgba(255, 255, 255, 0.4);
  --white-opacity-7: rgba(255, 255, 255, 0.7);
  --dashboard-metadata: #42ADD0;
  --dashboard-write: #EB00C0;
  --input-background: #3D3D3D;
  --text-color: #FFFFFF;
  --toast-text: #3D3D3D;
  --multivalue-background: #595959;
  --table-background: #383838;
  --icon-button-hover: #5E5E5E;
  --white: #FFFFFF;
  --server-backgound: #2b2b2b;
  --shadow: #2B2B2B;

  --hitachi-acce1: #414141;
  --hitachi-acce2: #477DBD;
  --hitachi-acce3: #2064B4;
  --hitachi-acce4: #CC0000;
  --hitachi-atmo3: #2B4E73;
  --hitachi-atmo4: #3D3D3D;
}
