.custom-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px 4px 24px;
  min-width: 108px;
  cursor: pointer;
  border-bottom: solid transparent 4px;
  box-sizing: border-box;
  transition: background-color 0.5s, border-bottom-color 0.25s;
  height: 100%;

  &:hover {
    background-color: var(--ironhide-t3);
  }

  &.disabled {
    color: var(--ironhide-key);
    pointer-events: none;
  }

  &.tab-active {
    background-color: var(--active-tab-bg);
    border-bottom: solid var(--main-color) 4px;

    .tab-title {
      color: var(--main-color);
    }
  }

  .tab-title {
    color: var(--ironhide-s3);
    font-weight: bold;
    font-family: var(--bold-font);
    font-size: 14px;
    text-transform: uppercase;
  }

  .tab-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;

    svg {
      margin-right: 3px;
      width: 10px;
    }
  }

  &-side {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    padding: 16px 0px 16px 24px;
    border-bottom: 1px solid var(--ironhide-key) !important;
    border-right: 4px solid transparent;

    &.tab-active {
      background-color: var(--ironhide-t3);
      border-right: 4px solid var(--main-color);
      .settings-icon {
        path {
          fill: var(--main-color);
        }
      }
    }

    .tab-title {
      font-size: 20px;
      text-align: center;
      text-transform: capitalize;
    }

    .tab-subtitle {
      font-size: 14px;
    }

    .tab-configured {
      color: var(--complement-key);

      path {
        fill: var(--complement-key);
      }
    }

    .tab-not-configured {
      color: var(--ironhide-s2);

      path {
        fill: var(--ironhide-s2);
      }
    }
  }

  &-sub {
    .tab-title {
      text-transform: capitalize !important;
    }
  }
}

.dark-mode {
  .custom-tab {
    .tab-title {
      color: var(--text-color);
    }
  }
}

