.table-date-cell {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  &-regular {
    padding-left: var(--spread);
  }
}

.relative-time {
  color: var(--main-color);
}
