.text-select-wrapper {
  border: 1px solid var(--ironhide-t1);
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 48px;
  width: var(--input-width);
  background-color: var(--input-background);

  .text-select-label{
    position: absolute;
    left: 12px;
    top: 4px;
    z-index: 1;

    svg {
      height: 12px;
      position: absolute;
      right: -16px;
      top: -1px;

      path {
        fill: currentColor;
      }
    }
  }

  .field__input, .field__input:focus, .react-select__control {
    border: none;
    box-shadow: none;
  }

  &:focus-within {
    border: 1px solid var(--main-color);
    box-shadow: 0 0 0 1px var(--main-color);
    border-radius: 4px;

    .spread-line {
      border-left: 1px solid var(--main-color);
    }
  }

  .spread-line {
    border-left: 1px solid var(--ironhide-t1);
    height: 24px;
  }

  .select-wrapper {
    width: 50%;
  }

  .text-box-field {
    width: 50%;
  }

  &.has-error {
     border: 1px solid var(--focus-key);
     box-shadow: 0 0 0 1px var(--focus-key);
  }

  .text-select-error {
    position: absolute;
    bottom: -16px;
    left: 3px;
    font-size: 12px;
    color: var(--focus-key);
    white-space: nowrap;
  }
}
