.text-editor-wrapper {
  position: relative;
  flex: 1;
  padding-top: 16px;

  &.read-only {
    background: var(--ironhide-t3);
    .ace_cursor {
      color: transparent !important;
    }
  }

  &.disable-folding {
    .ace_fold-widget {
      display: none !important;
    }

    .ace_error_bracket {
      display: none;
    }
  }

  .ace_editor {
    background-color: transparent;
    color: var(--text-color);

    .ace_fold {
      border: unset !important;
    }

    .ace_variable {
      color: var(--optimus-s2);
    }

    .ace_string,
    .ace_constant,
    .ace_numeric {
      color: var(--complement-key) !important;
    }
    .ace_paren,
    .ace_punctuation,
    .ace_operator,
    .ace_cursor {
      color: var(--text-color);
    }

    .ace_gutter {
      background: none;

      &-cell {
        color: var(--ironhide-key);
      }

      &-active-line {
        background-color: transparent;
      }
    }

    .ace_search {
      background-color: var(--neutral-t4);
      color: var(--ironhide-s3);
      border: 1px solid var(--main-color);
      margin-right: 8px;
      padding: 4px 4px 0 4px;
      &.right {
        border-radius: 4px;
      }
      &_field {
        border-radius: 4px 0 0 4px;
        color: var(--text-color);
        border: 2px solid var(--main-color);
        background-color: var(--input-background);
        border-right: 0;
      }

      .ace_searchbtn {
        background-color: var(--input-background);
        border-top: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-left: 1px solid var(--main-color);
        border-right: 0;

        &_close {
          display: none;
        }

        &.prev:after {
          border: 2px solid var(--main-color);
          border-width: 2px 0 0 2px;
        }

        &.next {
          border-radius: 0 4px 4px 0;
          border-right: 2px solid var(--main-color);
          &:after {
            border: 2px solid var(--main-color);
            border-width: 0 2px 2px 0;
          }
        }
        &:last-child {
          display: none;
        }
      }
      &_form {
        margin: 0 0 8px 0;
        &.ace_nomatch {
          outline: none;
        }
      }
      &_options {
        margin-bottom: 4px;
      }
      .ace_button {
        color: var(--main-color);
        opacity: 1;
        background-color: var(--neutral-t4);
        border-radius: 2px;
        border-color: var(--main-color);
        &:hover {
          background-color: var(--ironhide-t1);
        }
        &.checked {
          color: white;
          background-color: var(--main-color);
        }
      }
    }
  }

  .copy-btn {
    position: absolute;
    z-index: 5;
    left: 6px;
    top: 12px;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  &-with-copy {
    padding-left: 20px;
  }

  &-only-matching-lines {
    .ace_search_counter,
    .ace_button {
      display: none;
    }

    .ace_layer {
      .ace_selected-word {
        background: none;
        border: none;
        color: inherit;
      }
    }
    .matching-toggle {
      top: 70px !important;
    }
    .ace_search {
      &_form {
        margin-bottom: 4px !important;
      }

      &_field {
        width: 339px;
        border-right: 2px solid var(--main-color) !important;
        border-radius: 4px !important;
      }
    }

    .ace_searchbtn {
      display: none;
    }
  }

  .matching-toggle {
    position: absolute;
    top: 100px;
    right: 86px;
    display: flex;
    align-items: center;
    width: 300px;
    .toggle-btn {
      margin: 0;
    }
    gap: 8px;
  }
}

.hide-search {
  .ace_search {
    display: none;
  }
}
